{% extends 'dboy/dboy_home.html' %}
	{% load static %} 
	{% block content %}
	{% if msg %}
	<script>
		alert("{{msg}}")
	</script>
	{% endif %}
    <div class="new-collections">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Products</h3>
            <!-- <p class="est animated wow zoomIn" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia
                deserunt mollit anim id est laborum.</p> -->
                <form method="post">
                    {% csrf_token %}
                    {% comment %} <input type="submit" value="Clear all"> {% endcomment %}
                </form>
            <div class="new-collections-grids">
                <!-- <div class="row"> -->
                {% for i in abc %}
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 animated wow slideInUp">
                        {% comment %} <div class="new-collections-grid1-image"> {% endcomment %}
                            {% comment %} <a href="single.html" class="product-image"><img src="/static{{i.p_id.p_img}}" alt=" " {% endcomment %}
                                    {% comment %} class="img-responsive" /></a> {% endcomment %}

                        {% comment %} </div/''> {% endcomment %}
                        <h4><a href="">{{i.p_id.p_name}}</a></h4><br>
                        
                        <p> No:Items:{{i.cart_stock}}</p>
                        <p>Rs{{i.cart_rate}}</p>
                        
                        <h4><a href="">User details</a></h4><br>
                        <h4><a href="">{{i.userid.user_name}} </a></h4><br>
                        <h4><a href="">{{i.userid.user_lname}} </a></h4><br>
                        <h4><a href="">{{i.userid.user_loca}} </a></h4><br>
                        <h4><a href="">{{i.userid.user_address}} </a></h4><br>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden"value={{i.userid.userid}} name="a1">
                            <input type="submit" value="Deliverd">
                        </form>
                        
                        <!-- <div class="new-collections-grid1-left simpleCart_shelfItem" tyle="margin-left: 10%;">
                            <p><a class="item_add" href="/cart?id={{i.p_id}}" style="margin-left:60%;">Cart</a></p> -->
                           
                
            </div>
        </div>
           
                        
                {% endfor %}
            </div>

            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- //collections -->
	{% endblock %}  